/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
/*  import CSS */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    padding: 0px;
    margin: 0px;
    background-color: #fff;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section {
    padding: 100px 0;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.about,
.services,
.skills,
.teams,
.contact,
.map,
footer {
    font-family: 'Poppins', sans-serif;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 10px 0 50px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar .navbar-brand {
    max-width: 100%;
    padding: 0 20px;
}

.navbar.sticky {
    padding: 5px 0;
    background: whitesmoke;
}

.navbar .max-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar .logo a {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .logo img {
    width: 45px;
    height: 45px;
    margin-right: 5px;
    flex-direction: none;
}

.navbar .logo a span {
    color: #fff;
    transition: all 0.3s ease;
    margin-left: 5px;
    margin-top: -55px;
}

.navbar .logo a span:hover {
    color: #2C507B;
    transition: all 0.3s ease;
}

.navbar .logo a p {
    font-size: 7.7px;
    color: #fff;
    transition: all 0.3s ease;
    margin-top: -10px;
    margin-left: 56px;
}

.navbar.sticky .logo a span {
    color: #2C507B;
}

.navbar.sticky .logo a {
    color: rgb(51, 118, 79);
}

.navbar.sticky .logo a p {
    color: #2C507B;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-decoration: none;
}

a.menu-btn {
    color: #fff;
}

.navbar.sticky a.menu-btn {
    color: black;
    ;
}

.navbar .sticky .menu li a {
    color: #2C507B;
}

.navbar .sticky .menu li a {
    color: rgb(51, 118, 79);
}

.navbar .menu li a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar .menu li a:hover {
    text-decoration: none;
    color: rgb(15, 143, 143);

}

.navbar.sticky .menu li a:hover {
    text-decoration: none;
    color: rgb(15, 143, 143);
}

/* verificar */
.navbar .logo a.card:hover {
    color: rgb(15, 143, 143);
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .logo a.card:hover span {
    color: #fff;
    transition: all 0.3s ease;
    margin-left: 5px;
    margin-top: -55px;
}

.navbar.sticky a.menu-btn {
    color: hwb(125deg 15% 53%);
}


/* menu btn styling */
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}

/* whatsApp */
.scroll-down-btn {
    position: fixed;
    text-align: center;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-down-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-down-btn:hover {
    filter: brightness(90%);
   
}


/* home section styling */
.home {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(34, 26, 26, 0.651));
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.home #slider img {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;

}

.home .max-width {
    width: 100%;
    display: flex;
}

.home .max-width .row {
    margin-right: 0;
}

.home .home-content .text-1 {
    font-size: 27px;
    font-weight: 400;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin: -15px -3px 40px 0;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0 70px 0;
}

.home .home-content .text-3 span {
    color: rgb(5, 134, 219);
    font-weight: 500;
}

.home .home-content a {
    text-decoration: none;
    display: inline-block;
    background: rgb(4, 124, 204);
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid rgb(4, 124, 204);
    ;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: rgb(255, 255, 255);
    background: none;
    text-decoration: none;
}

/* about section styling */
.about .title::after {
    content: "A COMPOSBIO";
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 100%;
    width: 500px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: crimson;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background-color: #047ccc;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #047ccc;
    transition: all 0.3s ease;
    text-decoration: none;
}

.about .about-content .right a:hover {
    color: #047ccc;
    background: none;
    text-decoration: none;
}

/* services section map */
.map {
    width: 100%;
    padding-bottom: 0rem;
}

.map .title::after {
    content: "Nova Mutum";
}

.map .map-content .left {
    width: 45%;
}

/* services section styling */
.services,
.teams {
    color: #fff;
    background: #111;
}

.services .title::before,
.teams .title::before {
    background: #fff;
}

.services .title::after,
.teams .title::after {
    background: #111;
    content: "Para sua empresa";
}

.services .serv-content .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.services .serv-content .card:hover {
    background: crimson;
}

.services .serv-content .card .box {
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box {
    transform: scale(1.05);
}

.services .serv-content .card i {
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}

.services .serv-content .card:hover i {
    color: #fff;
}

.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* teams section styling */
.teams .title::after {
    content: "inteligentes";
    font-size: large;
}

.teams .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover {
    background: crimson;
}

.teams .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover .box {
    transform: scale(1.05);
}

.teams .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.teams .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover img {
    border-color: #fff;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid crimson !important;
    transition: all 0.3s ease;
}

.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
    background: crimson !important;
}

/* contact section styling */
.contact .title::after {
    content: "Esperamos por você";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin: 20px 0 0 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: crimson;
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: #333;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
    border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button-area {
    display: flex;
    align-items: center;
}

.right form .button-area button {
    color: #fff;
    display: block;
    width: 160px !important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: crimson;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.right form .button-area button:hover {
    color: crimson;
    background: none;
}

/* footer section styling */
footer {
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}

footer span a {
    color: crimson;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: none;
}

.desktop {
    display: block;
    /* ou inline, inline-block */
}

.mobile {
    display: none;
}

/* responsive media query start */
@media (max-width: 1500px) {
    .navbar .logo {
        margin: 7px 200px 0px -300px;
    }

    .navbar .nav-item {
        margin: 8px -120px 0px 400px;
    }

}

@media (max-width: 1260px) {
    .services .serv-content .card {
        width: calc(50% - 30px);
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}

@media (min-width: 1230px) {
    .navbar .logo {
        margin: 7px 110px 0px -120px;
    }

    .navbar .nav-item {
        margin: 8px -120px 0px 400px;
    }

}

@media (max-width: 1104px) {
    .about .about-content .left img {
        width: 400px;
    }

    .navbar .nav-item:hover {
        background: none;
    }

    .navbar .menu.active {
        margin: 0 10px;
    }

    .services .title::after,
    .teams .title::after {
        font-size: large;
    }

    .contact .title::after {
        font-size: 17px;
    }
}



@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }

    .navbar.sticky .fa-bars:before {
        color: #fff;

    }

    .navbar.sticky .fa-bars:before {
        color: #2C507B;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .navbar .logo {
        margin: 7px 450px 0px -110px;
    }

    .fa-bars:before {
        color: white;
        content: "\f0c9";

    }

    .navbar.sticky a.menu-btn {
        color: #fff;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width {
        max-width: 930px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 36px;
    }
}

@media (max-width: 860px) {
    .services .serv-content .card {
        width: calc(50% - 30px);
    }

    .navbar .logo {
        margin: 7px 300px 0px -45px;
    }
}


@media (max-width: 690px) {
    .max-width {
        display: block;
    }

    .contact .title::after {
        font-size: 15px;
    }

    #adress {
        display: none;
    }

    .navbar .logo {
        margin: 7px 200px 0px -45px;
        letter-spacing: 1px;
    }

    .navbar .logo a {
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-weight: 600;
        text-decoration: none;
    }

    .navbar .logo a p {
        font-size: 5px;
        color: #fff;
        transition: all 0.3s ease;
        margin-top: -10px;
        margin-left: 56px;
    }

    .navbar .logo img {
        width: 35px;
        height: 35px;
        margin-right: 5px;
        flex-direction: none;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 20px;
    }

    .services .serv-content .card {
        width: 100%;
    }

}

@media (max-width: 648px) {
    .services .serv-content .card {
        width: calc(100% - 20px);
    }

    .home .home-content .text-3 {
        font-size: 30px;
        margin: 5px 0 35px 0;
    }

    .home .home-content .text-2 {
        font-size: 45px;
    }
}


@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }

    .navbar .logo {
        margin: 7px 150px 0px -45px;
    }

    .home .home-content .text-3 {
        font-size: 27px;
    }

    .about .about-content .right .text,
    .skills .skills-content .left .text {
        font-size: 19px;
    }

    .contact .right form .fields {
        flex-direction: column;
    }

    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }

    .right form .error-box {
        width: 150px;
    }

    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }

    .home .home-content .text-1 {
        font-size: 20px;
    }

    .home .home-content .text-3 {
        font-size: 20px;
        margin: 5px 0 25px 0;
    }

    .home .home-content .text-2 {
        font-size: 30px;
    }
}

@media(max-width: 480px) {

    .about .title::after {
        font-size: 15px;
    }

    .navbar .logo {
        margin: 7px 120px 0px -45px;
    }
}

@media(max-width: 392px) {
    .contact .title::after {
        font-size: 12px;
    }


    .navbar .logo {
        margin: 7px 60px 0px -25px;
    }
}


@media(max-width: 360px) {
    .navbar .logo {
        margin: 7px 50px 0px -25px;
    }
}

.icons{
    list-style: none;
  }
  .icons a{
    height: 70px;
    width: 70px;
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    align-items: center;
  }
  .icons a:before{
    content: '';
    position: absolute;
    top: 10px;
    right: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 10%;
    background: linear-gradient(45deg, #129c40 , #0ddd1e);
    transition: all 0.3s ease-in;
  }
  .icons a:hover:before{
    transform: rotate(360deg);
    border-radius: 100%;
  }
  .icons a span{
    font-size: 45px;
    line-height: 80px;
    color: #fff;
    transition: all 0.3s ease-out;
    margin: 6px 0 0 0px;
  }
  .icons li:hover a span{
    transform: scale(1.2);
  }